* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}


body {
    background-image: url("image/bckg5.jpg");
    height: 2500px;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0; 

}



.logo {
    display: inline-block;
    vertical-align: top;
    width: 110px;
    height: 30px;
    margin-right: 20px;
    margin-top: 10px;
}


 

.navbar-top {
    font-family: "Georgia"; 
}

.nav {
    overflow: hidden;
    background-color: coral;
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;    
}

.nav a {
    float: left;
    display: block;
    color: rgb(165, 27, 9);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 55px;
    margin-left: 8%;
    
}

.nav a:hover {
    color: black;
    height: 55px;
}


.homepage {
    margin-top: 30px;
    font-size: 17pt;
    
   
}

.box1{
    background-color: coral;
    width: 700px;
    margin: 20px;
    padding: 50px;
    border-radius: 15px;
    
}

.home-pic {
    padding-left: 150px;
}

#home-text {
    padding-left: 20px;
    padding-bottom: 50px;
    padding-right: 50px;
    font-size: 25pt;
}

.bio-pic {
    border-radius: 50%;
}

.inner-bio {
    padding-left: 100px;
}

h1 {
    text-align: center;
    font-size: 35pt;
}

.mine {
    padding-left: 25%;
}

.me {
    padding-right: 20px;
}

.family {
    padding-left: 14%;
}

.family2 {
    padding-right: 30px;
    padding-left: 30px;
}

.experience {
    padding-top: 30px;
    padding-bottom: 20px;
}

.experience-inner {
    padding-left: 28%;

}

.box2 {
    background-color: coral;
    width: 950px;
    margin: 20px;
    padding: 50px;
    border-radius: 15px;
}

.vid {
    padding-left: 13%;
}

#aud {
    margin-left: -250px;
}

.player {
    width: 500px;
    margin: 0;
    margin-left: 450px;
    display: flex;
    justify-content: center;
}

.bio {
    padding-left: 27%;
}